
.sns_size {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.sns .weibo {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -469px -5px;
}

.sns .linked {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -160px -5px;
}

.sns .github {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -263px -5px;
}

.sns .zhihu {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -315px -5px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-top30 {
    margin-top: 30px;
}

.captcha {
    margin-top: 10px;
}

.marquee {
    padding: 30px 0;
}

.post {
    margin-bottom: 35px;
}

.post-meta {
    margin: 10px auto;
}

.post .post-content {
    margin: 30px 0;
}

.post-content p {
    line-height: 1.7em;
    margin-bottom: 1.3em;
    color: #666666;
}

.post-content .text-center {
    margin-top: -22px;
}

.post-content h1, .post-content h2, .post-content h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;
}

.post-content {
    color: #444443;
    font: 400 18px/1.62 "Georgia","Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}

.aside .tag-cloud a {
    border: 1px solid #ebebeb;
    color: #959595;
    display: inline-block;
    line-height: 1.5em;
    margin: 0 7px 7px 0;
    padding: 5px 10px;
    transition: all 0.2s ease 0s;
}

.aside .tag-cloud a:hover {
    background: #337ab7 none repeat scroll 0 0;
    border: 1px solid #337ab7;
    color: #ffffff;
    text-decoration: none;
}

.aside .title::after {
    background: #337ab7 none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100px;
}

.aside .title {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    margin-top: 0;
    padding-bottom: 7px;
    position: relative;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #767676;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

#english .content img {
    max-width: 100%;
}



@media (min-width: 768px) {
    .footer {
        margin-top: 40px;
    }

    .captcha {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px){
    #destination .box{
        padding-left: 0;
        padding-right: 0;
    }
    .page-header {
        margin: 20px 0 20px;
    }
}