
.sns  {
}

.sns_size {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.sns .weibo {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -469px -5px;
}

.sns .linked {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -160px -5px;
}

.sns .github {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -263px -5px;
}

.sns .zhihu {
    background: rgba(0, 0, 0, 0) url("http://cdn.tanteng.me/assets/images/sns_bg.png") no-repeat scroll -315px -5px;
}

.margin-top15 {
    margin-top: 15px;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #767676;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 40px;
    }
}